<ul>
  <li>
    <%= @service.id %>
  </li>
  <li>
    <%= @service.title %>
  </li>
  <li>
    <%= @service.description %>
  </li>
  <li>
    <%= @service.measure %>
  </li>
</ul>
<%= link_to "services", admin_category_services_path(@service.category_id) %>
