<div class="devise_content">
  <h2>Регистрация</h2>
  <div class="devise_form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="devise_email">
        <%= f.label :email, "Мыло" %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="devise_role">
        <%= f.label :user_roles, "выберите роль" %><br />
        <%= f.radio_button :user_roles, "merchant " %> Компания/Частное лицо
        <%= f.radio_button :user_roles, "user " %> Пользователь
      </div>

      <div class="devise_password">
        <%= f.label :password, "Пароль" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> символов минимум)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="devise_password_confirmation">
        <%= f.label :password_confirmation, "Подтвердите пароль" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="device_user_city">
        <%= f.label :city, "Город" %><br />
        <%= f.text_field :city, autocomplete: "off" %>
      </div>

      <div class="devise_submit">
        <%= f.submit "Зарегистрироваться" %>
      </div>
    <% end %>
  </div>

  <%= render "devise/shared/links" %>

</div>
