<div class="welcome_footer">
  <h1>джамшутер</h1>
  <h2>лучший ресурс для поиска компаний специализирующихся на ремонтах</h2>
</div>

<% @regions.each do |region| %>
  <p><% region.title %></p>
<% end %>

<%= form_tag "/", method: "get" do %>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <div class="input-group">
          <%= text_field_tag :search, "", class: "form-control", autofocus:true, placeholder: :"Search for..." %>
          <span class="input-group-btn">
            <%= submit_tag "Go!", class:"btn btn-secondary" %>
          </span>
      </div>
    </div>
  </div>
<% end %>


<%if @merchants %>
  <div class="welcome_search_result">
    <div style="display:inline-block">
      <ul >
        <% @merchants.each do |merchant| %>
          <li>
            <%= link_to merchant.company_name, merchant_path(merchant) %>
          </li>
          <ul>
            <% merchant.merchant_services.each do |service| %>
            <li>
              <%= service.service.title %> : <%= service.price %> $
            </li>
            <%end%>
          </ul>
        <%end%>
      </ul>
    </div>
  </div>
<% end %>

