<div <%= "style=display:none" if @advert.errors.nil? %> >
  <% @advert.errors.messages.each do |error| %>
    <p> <%= error %> </p>
  <% end %>
</div>
<div class="advert_form">
  <%= form_for @advert do |a| %>
    <div>
      <%= a.text_field :title, class: "form_advert_title", placeholder: "тема обьявления", autofocus: true, required: true %>
    </div>
    <div>
      <%= a.text_field :price, class: "form_advert_price", placeholder: "цена"%>
    </div>
    <div>
      <%= a.text_area :description, class: "form_advert_description", placeholder: "описание", required: true %>
    </div>
    <div>
      <%= a.submit "сохранить", class: "form_advert_submit"%>
    </div>
  <% end %>
</div>

