<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <div class="col-lg-8 show_advert_block">
      <div class="show_advert_title">
        <%= @advert.title %>
      </div>
      <div class="show_advert_price">
        Цена: <%= @advert.price %>
      </div>
      <div class="show_advert_description">
        <%= @advert.description %>
      </div>
      <div class="edit_advert_link">
        <%= link_to "Назад", :back, class:"glyphicon glyphicon-menu-left btn btn-primary"%>
        <%= link_to "редактировать", edit_advert_path(@advert), class:"glyphicon glyphicon-pencil btn btn-warning" if current_user &&current_user.id == @advert.user_id %>
        <%= link_to "удалить", advert_path(@advert), class:"glyphicon glyphicon-remove-sign btn btn-danger", method: :delete, data: {confirm: "Вы уверены что хотите удалить?"} if current_user && current_user.id == @advert.user_id %>
      </div>
    </div>
    <div class="col-lg-4 show_advert_user_block">
      <div class="show_advert_user_email">
        <span class="glyphicon glyphicon-user">
          <%= @advert.user.email %>
        </span>

      </div>
      <div class="show_advert_user_phone">
        <span class="glyphicon glyphicon-phone-alt">
          <%= @advert.user.phone %>
        </span>

      </div>
      <div class="show_advert_location">
        <span class="glyphicon glyphicon-globe">
          <%= "#{@advert.region.title}, #{@advert.city.title}" %>
        </span>

      </div>
      <div>
        <a href="#" class="btn btn-primary">написать сообщение пользователю</a>
      </div>
    </div>
  </div>


</div>


