<p><%= link_to "create region", new_admin_region_path %></p>
<% @regions.each do |region| %>
  <p><%= region.id %></p>
  <p><%= link_to region.title, admin_region_path(region) %>,
    <%= link_to 'edit', edit_admin_region_path(region)%>,
    <%= link_to "destroy", admin_region_path(region), method: :delete, data: {confirm: "are you shure?"} %>
  </p>

<% end %>
