<!-- main form -->
<%= nested_form_for @merchant_page, url:"/cabinet" do |f| %>
  <div><%= f.text_field :company_name, placeholder: "название компании" %></div>
  <div><%= f.text_area :description, placeholder: "описание" %></div>
  <!-- service nested -->
  <div id="services_nested">

    <%= f.fields_for :merchant_services do |s| %>

      <div><%= s.object.service.title if s.object.persisted?  %> <%= s.text_field :price, placeholder: :price %>
      <span><%= s.link_to_remove "Remove this task" %></span>
      </div>

      <div><%= s.text_field :service_id, placeholder: :service_id, type: "hidden" %></div>

    <% end %>
  </div>
  <!-- services -->
  <div>
    <ul>
    <% @services.each do |service| %>
      <li id=<%= service.id %>>
        <%= f.link_to_add service.title, :merchant_services %>
      </li>
    <% end %>
    </ul>
  </div>
  <!-- submit button -->
  <div> <%= f.submit %></div>
<% end %>

<!-- попка дурак -->
<script type="text/javascript">
    $(document).on('nested:fieldAdded:merchant_services', function(event){
    // this field was just inserted into your form
    var field = event.field;
    var service = field.children().find("[type=hidden]")[0]
    var service_id = $(event.target).parent().attr("id")
    service.value = service_id
    debugger
    var service_title = $(`#${service_id}`).text()
    var price = field.children().find("[type=text]")[0]
    $(price).parent().prepend(service_title)


    $("#services_nested").append(field)
    //$(event.target).parent().hide()
    $(`#${service_id}`).hide()
    console.log($(field[0]).children())
    // it's a jQuery object already! Now you can find date inpu
  })

   /* $(document).on('nested:fieldRemoved:merchant_services', function(event){
      console.log("hoooo")
    })*/

$(document).ready(
  function(){
    var services_ids = []
    var x = $("#services_nested input[type=hidden]").each(function(){
      services_ids.push(this.value)
    })
    services_ids.forEach(function(item){
      $(`#${item}`).hide()
    })

  }

)
</script>
