 <ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">О Вас</a></li>
  <li><a data-toggle="tab" href="#category">Категории</a></li>
  <li><a data-toggle="tab" href="#images">Галерея</a></li>
  <li><a data-toggle="tab" href="#price-list">Прайс-лист</a></li>
  <li><a data-toggle="tab" href="#cities-merchants">Где Вы выполняете работы</a></li>

</ul>


<%= simple_form_for @merchant_page, url: "/cabinet", method:"post" do |page| %>
  <div class="tab-content">
    <!-- основная форма -->
    <div id="home" class="tab-pane fade in active">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
          <div class="form-group">
            <h4><label class="label label-primary" for="company_name">название вашей компании</label></h4>
            <%= page.text_field :company_name, class:"form-control", placeholder: "введите имя компании" %>
          </div>
          <%= page.text_field :approved, type:"hidden", value: "true"%>
          <div class="form-group">
            <h4><label class="label label-primary" for="company_logo">фото или лого</label></h4>
            <%= page.file_field :company_logo %>

          </div>
          <div class="form-group">
            <h4><label class="label label-primary" for="phone">номер телефона</label></h4>
            <%= page.text_field :phone, class:"form-control", placeholder: "097-****-***" %>
          </div>
          <div class="form-group">
            <h4><label class="label label-primary" for="description">ваше описание</label></h4>
            <%= page.text_area :description, class:"form-control", placeholder: "описание", style: "height:200px" %>
          </div>
        </div>
      </div>


    </div>
    <!-- форма добавления категорий -->
    <div id="category" class="tab-pane fade">
        <h4 class="mp_categories_header">выберите категории в каких вы работает</h4>

          <% @merchant_categories.each do |category| %>
            <% if category.merchant_pages.include?(@merchant_page) %>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-10">
                <button id=<%= category.id %> type="button" class="categories_mp btn btn-info" aria-label="Left Align">
                  <span aria-hidden="true">
                    <%= image_tag(category.icon.url(:original), class: "cabinet_category_icon") %>
                  </span>
                  <%= category.title %>
                </button>
                <input type="hidden" name="categories[]" value=<%= category.id %>>
              </div>
            <% else %>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-10">
                <button id=<%= category.id %> type="button" class="categories_mp btn btn-default" aria-label="Left Align">
                  <span aria-hidden="true">
                    <%= image_tag(category.icon.url(:original), class: "cabinet_category_icon") %>

                  </span>
                  <%= category.title %>
                </button>
              </div>
            <% end %>
          <% end %>
          <!--
          <%= page.collection_check_boxes(:category_ids, Category.roots, :id, :name_with_initial) do |b| %>

            <%= b.label(:"data-value" => b.value, class: "categories_mp btn btn-default") { b.check_box + image_tag(b.text.split("|")[0], class: "cabinet_category_icon") + b.text.split("|")[1]  } %>
          <% end %>
 -->
    </div>
    <!-- галерея -->
    <div id="images" class="tab-pane fade">


    </div>
    <!-- price list -->
    <div id="price-list" class="tab-pane fade">
      формы
    </div>
    <!-- связаные города с мерчантом -->
    <div id="cities-merchants" class="tab-pane fade">
      города и области в каких вы можете выполнять работы
    </div>

  </div>
  <div class="form-group">
    <%= page.submit "сохранить", class: "btn btn-success form-control"%>
  </div>
<% end %>

